.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    background-image: url('../../public/plant3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 2em;
  }
  
.title {
    align-content: bottom;
}

.under-title {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
  
.title h1 {
    padding: 0;
    margin: 0;
    font-size: 5em;
}
  
.title p {
    padding: 0;
    margin: 0;
    font-size: 2em;
}

.carousel {
    margin: 0 25px;
    flex-grow: 1;
}
  
.subtitle {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    align-self: center;
    padding-bottom: 25px;
}
  
.subtitle .quote  {
    font-size: 3em;
}